<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="well">
                <h1 class="text-center"><%= @recipe.name %></h1>
                <%= @recipe.ingredients.all %>
            </div>
        </div>
    </div>
</div>